.product-item .product-img{
  min-height: 150px;
  background:silver;
  background-size: cover;
  background-position:center center;
  position: relative;
  /* part of children element that out of the border of parent element will hide */
  overflow: hidden;
  
}


.product-item .product-img .sold-out{
  position: absolute;
  top:10px;
  left:-100px;
  background: red;
  padding:8px 100px;
  transform: rotate(-45deg);
}