

.header-client{
  min-height: 60px;
  background:white;
  position: relative;
  /* for z-index work we must add position:realtive prop */
  z-index: 999;

}

.header-client .container , .header-client .row{
  min-height: inherit;
  
}

.header-client .logo a{
  color:grey;
  text-decoration: none;
}

.header-client nav  a{
  color:#FF9900;
  font-weight: bolder;
  font-size: larger;
  padding:0 12px;
  text-decoration: none;
  transition: all;
  transition-duration: 300ms;
}

.header-client nav  a:hover{
  color:rgb(235, 178, 235);
font-size: smaller;

}

.header-client nav .search_header .btn{
  /* border:1px solid silver; */
  padding-bottom: 10px;
}

.header-client .icon1{
  color:rgb(75, 75, 75);
}


.footer-client{
  display: flex;
  align-items: center;
  min-height: 48px;
}
