body{
  background-color: rgba(0, 0, 0, 0.404);
}

.strip_home{
  min-height: 350px;
  background:silver;
  background-size: cover;
  background-position:center center;
  /* background-image: url("/public/images/cover.jpg"); */
}

.strip_home h1, .strip_home h3 {
  color: #59c925;
  
/* background: #0e8dbc; */
text-shadow: 0 1px 0 #CCCCCC, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.categories_list a{
  text-decoration: none;
  background-color:#8033336e ;
}

.categories_list a > div{
  transition: 400ms;
}

.categories_list a:hover > div{
  /* border:red 3px solid; */
  box-sizing: border-box;
  transform: scale(1.04,1.04);
}


.categories_list .myCard .img_card{
  min-height: 150px;
  background:silver;
  background-size: cover;
  background-position:center center;
}

